.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.1rem 1rem 0.7rem;
        display: inline-block;
        border-radius: 20rem;
        transition: all 0.2s;
        font-size: $small-font-size;
        position: relative;
        font-family: $font-primary;
        letter-spacing: 2px;
        font-weight: 700;

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 1rem 2rem rgba($color-black,0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translate(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,0.2);
    }


    &--orange {
        background-color: $color-orange;
        color: $color-white;
    }

    &--transparent {
        background-color: transparent;
        color: $color-white;
        border: 1.7px solid;
        font-size: 1.2rem;
        padding: 1.2rem 2rem;

    }

    &--white {
        background-color: $color-white;
        color: $color-black;
        font-size: 1.1rem;
        padding: 1rem 3rem;
        font-weight: 400;
        text-transform: none;
        letter-spacing: 1px;
    }

    &--black {
        background-color: $color-black;
        color: $color-white;
        font-size: 1.1rem;
        padding: 1rem 3rem;
        font-weight: 400;
        text-transform: none;
        letter-spacing: 1px;
    }

}
