// COLOR VARIABLES
$color-black: black;
$color-white: white;

$color-orange: #FF704B;
$color-grey: #666666;
$color-dark-grey:#CCCCCC;

$color-green: #E3FDE4;

// FONT VARIABLES
$font-primary: "Lato", sans-serif;
$default-font-size: 1rem;
$small-font-size: 0.75rem; //12px